// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#myTabContent{
  p{
    color: #676767;
  }
}

.font-bold{
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.text-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
